
/*Permet d'ajouter un effet de grandissement et une barre sous le texte quand la souris passe dessus*/
.animationLink {
    position: relative;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.animationLink::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 3%;
    background-color: #F1FFFA;
    transition: width 0.2s ease-in-out;
}

.animationLink:hover {
    transform: scale(1.15);
}

.animationLink:hover::before {
    width: 100%;
}

.rotatingElement {
    animation: spinning 1.5s ease-out;
  }
  
  @keyframes spinning {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }
  