
/*Permet d'ajouter un effet de grandissement et une barre sous le texte quand la souris passe dessus*/
.animationLink {
    position: relative;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

/*Place une ligne en dessous de l'élément parent*/
.animationLink::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 3%;
    background-color: #F1FFFA;
    transition: width 0.2s ease-in-out;
}

/*Augmente la taille du texte quand la souris passe au-dessus*/
.animationLink:hover {
    transform: scale(1.15);
}

.animationLink:hover::before {
    width: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #5C6C73;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 4% 2%;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
  color : #253337;
}

.show {
  display: block;
}

/*TESTS*/

form {
  width: 100%;
  text-align: center;
  padding: 20%;
  border-radius: 10px;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 2%;
  margin-bottom: 2%;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 18px;
}

.buttonLogins {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #4CAF50;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.bigButton {
  padding: 10%;
  border-radius: 5px;
  border: none;
  background-color: #4CAF50;
  color: #fff;
  font-size: 18px;
  cursor: pointer;

}

.popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #f2f2f2;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px #000000;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.popup.show {
  opacity: 1;
}
