.backgroundDarkBlue {
    background-color: #253337;
}

.backgroundBlue {
    background-color: #5C6C73;
}

.backgroundLightBlue {
    background-color: #9DB5C0;
}

.backgroundSky{
    background-color: #C2E0E3;
}

.backgroundWhite{
    background-color: #E0FCFC;
}

.colorDarkBlue {
    color: #253337;
}

.colorBlue {
    color: #5C6C73;
}

.colorLightBlue {
    color: #9DB5C0;
}

.colorSky{
    color: #C2E0E3;
}

.colorWhite{
    color: #E0FCFC;
}