.backgroundDarkBlue {
    background-color: #253337;
}

.backgroundBlue {
    background-color: #5C6C73;
}

.backgroundLightBlue {
    background-color: #9DB5C0;
}

.backgroundSky{
    background-color: #C2E0E3;
}

.backgroundWhite{
    background-color: #E0FCFC;
}

.colorDarkBlue {
    color: #253337;
}

.colorBlue {
    color: #5C6C73;
}

.colorLightBlue {
    color: #9DB5C0;
}

.colorSky{
    color: #C2E0E3;
}

.colorWhite{
    color: #E0FCFC;
}

/*COULEURS POUR LES CATEGORIES DES CIFS*/

/*ART*/
.art{
    background-color: #8367C7;
}
/*CINEMA*/
.cinema {
    background-color: #45062E;
}
/*CULTURE*/
.culture {
    background-color: #92140C;
}
/*FANTASY*/
.fantasy {
    background-color: #92140C;
}
/*RESTAURANT*/
.restaurant {
    background-color: #493657;
}
/*HISTOIRE*/
.histoire {
    background-color: #362023;
}
/*HUMANITAIRE*/
.humanitaire {
    background-color: #2A6041;
}
/*LIVRE*/
.livre {
    background-color: #FFB86F;
}
/*MODE*/
.livre {
    background-color: #D1495B;
}
/*MUSIQUE*/
.musique {
    background-color: #4C2B36;
}
/*NATURE*/
.nature {
    background-color: #66A182;
}
/*PHOTOGRAPHIE*/
.photographie {
    background-color: #49111C;
}
/*SCIENCE*/
.science {
    background-color: #1D84B5;
}
/*SPORT*/
.sport {
    background-color: #ADA296;
}
/*TECHNOLOGIE*/
.technologie {
    background-color: #CCA43B;
}
/*VOYAGE*/
.voyage {
    background-color: #FF928B;
}

/* Définition de la classe */
.hover-yellow {
    background-position: 100%;
    color: black;
    
  }
  
  /* Définition de l'effet au survol */
  .hover-yellow:hover {
    background: linear-gradient(to right, yellow 50%, black 50%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  
  