/*Supprime les marges du body*/
.noMarge {
    margin: 0;
}

.noPadding {
    padding: 0;
}

/*Container dans lequel les objets enfants seront alignés verticalement mais espacés complètement*/
.containerSpaceBetween {
    display: flex;
    justify-content: space-between;
    padding:0 2%;
}

/*Container dans lequel les objets enfants seront alignés verticalement mais espacés équitablement*/
.containerSpaceEvenly {
    display: flex;
    justify-content: space-evenly;
    padding:0 2%;
}

/*Container dans lequel les objets enfants serotn alignés verticalement mais centrés au milieu de la page*/
.containerMiddle {
    display: flex;
    justify-content: center;
}

/*Classe qui aligne les objets enfants à gauche et donne une marge à droite*/

.alignLeft {
    list-style: none;
    float: left;
    display: flex;
    align-items: center;
    padding : 0 2% 0 2%
}

/*Classe qui aligne les objets enfants à droite et donne une marge à gauche*/

.alignRight {
    list-style: none;
    float: left;
    display: flex;
    align-items: center;
    padding : 0 2% 0 2%
}

/*Classe qui aligne les objets enfants au milieu et donne une marge des deux côtés*/

.alignMiddle {
    list-style: none;
    float: middle;
    display: flex;
    align-items: center;
    padding : 0 2% 0 2%
}

.alignLeft > li {
    margin-right: 20%;
}

.alignRight > li {
    margin-left: 20%;
}

.alignMiddle > li {
    margin-left: 10%;
    margin-right: 10%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.littleSideMarge {
    margin: 0 2%;
}

.sideMarge {
    margin: 0 10%;
}
