body {
    height: auto;
}

/*Fixe le header et le met en haut*/

header {
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.5);
    z-index: 1;
}

/*Permet d'agrandir le footer et qu'il soit collé au bas de la page*/

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 1% 0;
}

li, h1, h2, p, a, button, label {
    font-family: 'Albert Sans', sans-serif;
    font-size: 150%;
    text-align: center;
    text-decoration: none;
}

ul, li {
    list-style: none;
}