/*Fixe le header et le met en haut*/

header {
    position: fixed;
    top: 0;
    width: 100%;
}

/*Permet d'agrandir le footer et qu'il soit collé au bas de la page*/

.footer {
    bottom: 0;
    width: 100%;
    padding: 1% 0;
}

li, h1, h2, p, a, button {
    font-family: 'Albert Sans', sans-serif;
    font-size: 150%;
    text-align: center;
    text-decoration: none;
}

ul, li {
    list-style: none;
}