@import url('https://fonts.googleapis.com/css2?family=Albert+Sans&family=Josefin+Sans:ital,wght@1,300&display=swap');

.title {
    font-size: 250%
}

.title2 {
    font-size: 225%
}

.textSmall {
    font-size: 120%;
}

.textSmall2 {
    font-size: 100%;
    color: black;
    text-decoration: none;
}

.textDropDownSmall {
    font-size: 80%;
}

.horizontalLine {
    width: 50%; /* pour ne pas qu'elle prenne toute la largeur de la page*/
    border-top: 2px solid #E0FCFC;
    margin: 2% auto; /* pour centrer la ligne*/
}

.dropbtn {
    background-color: #253337;
    color: #E0FCFC;
    border: none;
    cursor: pointer;
  }
   
.littleImg {
    width: 60px;
    margin: 0;
}

.borderRound {
    border-radius: 10px; /* pour créer des bords légèrement arrondis */
}

.star{
    color: #ffe234;
}

.veryLittleImg {
    width: 30%;
    margin: 0;
}

/* CARDS */

.card {
    border-radius: 15px;
    margin: 2% 25%;
}

.selectCif {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  /* Style pour le bouton */
  .buttonCif {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #253337;
    color: #fff;
    cursor: pointer;
  }

  .ratingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .starRating {
    display: inline-block;
    font-size: 2em;
    color: #ccc;
    cursor: pointer;
  }

.starRating:hover {
    color: #ffe234;
  }
  
  .starRating.rated {
    color: #ffe234;
  }


  .formLogin {
    width: 100%;
    text-align: center;
    padding: 20%;
    border-radius: 10px;
  }

  .buttonAddCifGreen {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: green;
    cursor: pointer;
  }

  .buttonAddCifRed {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: red;
    cursor: pointer;

  }

.buttonShowCif {
  appearance: button;
  background-color: #253337;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0 0 50px 0;
  outline: none;
  overflow: visible;
  padding: 20px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.buttonShowCif:after {
  background-clip: padding-box;
  background-color: #3e585f;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.buttonShowCif:main,
.buttonShowCif:focus {
  user-select: auto;
}

.buttonShowCif:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.buttonShowCif:disabled {
  cursor: auto;
}
  
  

  
  
  
