@import url('https://fonts.googleapis.com/css2?family=Albert+Sans&family=Josefin+Sans:ital,wght@1,300&display=swap');

.title {
    font-size: 250%
}

.title2 {
    font-size: 225%
}

.textSmall {
    font-size: 120%;
}

.textSmall2 {
    font-size: 100%;
}

.textDropDownSmall {
    font-size: 80%;
}

.horizontalLine {
    width: 50%; /* pour ne pas qu'elle prenne toute la largeur de la page*/
    border-top: 2px solid #E0FCFC;
    margin: 2% auto; /* pour centrer la ligne*/
}

.dropbtn {
    background-color: #253337;
    color: #E0FCFC;
    border: none;
    cursor: pointer;
  }
   
.littleImg {
    width: 100px;
    margin: 0;
}

.borderRound {
    border-radius: 10px; /* pour créer des bords légèrement arrondis */
}
.star{
    color: #ffe234;
}

.veryLittleImg {
    width: 40%;
    margin: 0;
}

/* CARDS */

.card {
    border-radius: 15px;
    margin: 3%;
    box-shadow: 2px 2px 5px 1px black;
}