@import url('https://fonts.googleapis.com/css2?family=Albert+Sans&family=Josefin+Sans:ital,wght@1,300&display=swap');


li, h1, h2, p, a, button {
    font-family: 'Albert Sans', sans-serif;
    font-size: 150%;
    text-align: center;
    text-decoration: none;
}

ul, li {
    list-style: none;
}

.title {
    font-size: 250%
}

.title2 {
    font-size: 225%
}

.textSmall {
    font-size: 120%;
}

.textDropDownSmall {
    font-size: 80%;
}

.horizontalLine {
    width: 50%; /* pour ne pas qu'elle prenne toute la largeur de la page*/
    border-top: 2px solid #E0FCFC;
    margin: 2% auto; /* pour centrer la ligne*/
}

.dropbtn {
    background-color: #253337;
    color: #E0FCFC;
    border: none;
    cursor: pointer;
  }
   
.littleImg {
    width: 150%;
    margin: 0;
}







